{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "plugin:vue/vue3-recommended",
        "eslint:recommended",
        "@vue/typescript/recommended",
        "@vue/prettier",
        "@vue/prettier/@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaVersion": 2021
    },
    "plugins": [],
    "rules": {
        "vue/html-indent": ["error", 4],
        "vue/no-v-html": "off",
        "@typescript-eslint/no-unused-vars": [
            2,
            {
                "args": "after-used",
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_"
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "none"
            }
        ]
    }
}
