{
    "extends": [
        "stylelint-config-recommended",
        "stylelint-config-standard",
        "stylelint-config-standard-scss",
        "stylelint-config-html",
        "stylelint-config-recommended-vue"
    ],
    "rules": {
        "indentation": 4,
        "no-descending-specificity": null,
        "at-rule-no-unknown": null,
        "at-rule-empty-line-before": [
            "always",
            {
                "except": ["first-nested", "after-same-name"],
                "ignore": ["after-comment"],
                "ignoreAtRules": [
                    "if",
                    "else",
                    "media",
                    "include",
                    "font-face",
                    "for",
                    "mixin",
                    "function"
                ]
            }
        ],
        "block-closing-brace-newline-after": [
            "always",
            {
                "ignoreAtRules": ["if", "else"]
            }
        ]
    }
}
