.navigation
    LinkElement.logo(href="/")
        img(src="@/images/logo.svg" height="64" width="64")
    LinkElement(href="/") Welcome
    LinkElement(href="/product/123") Product
    LinkElement(href="/category/odezhda") Category

    TestButton
